# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/DeveloperStore/FileContentIndex/87a48fbc-016b-4591-9296-752e81c6f75e.vsidx
/.vs/DeveloperStore/FileContentIndex/bee3b9a2-6be3-40fb-bf76-631aed4464d1.vsidx
/.vs/DeveloperStore/FileContentIndex/dee820aa-7207-4b49-9cf0-994d24d4cadc.vsidx
